<a href="/games/<%= game.url_slug%>">
  <div class="search-card">
    <p class="search-title"><%= game.title %></p>
    <img class="search-image" src="<%= game.image_url %>" alt="Picture of <%= game.title %>" />
      <p class="search-genre"><%= game.genre %>, <%= game.release_date %></p>
  </div>
</a>
